body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .pro-sidebar{
    height:100vh;
  }

  .pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
    background-color: #e84118;
  }

  .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item{
    background-color: #fff;
  }

  .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner{
    background-color: #fff;
  }

  .form-inline Form.Select {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .pro-sidebar .pro-menu .pro-menu-item.active a{
    border-radius: 0.35rem;
    color: #4e73df !important;
    font-weight: 700;
    display: block;    
    padding: 0.5rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: #dfdfdf;
  }

  .pro-sidebar .pro-menu a:hover{
    border-radius: 0.35rem;    
    font-weight: 700;
    display: block;    
    padding: 0.5rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: #dfdfdf;
  }
  .button-section {
    margin: 3%;
  }

  .button-sec {
    margin-top:3%;
  }
  .button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }

  .button:hover {
    background-color: royalblue;
  }

  .remove {
    background-color: rgb(192, 53, 53);
  }

  .remove:hover {
    background-color: rgb(187, 43, 43);
  }
  a:hover{
    text-decoration: none;
  }